{
  "api_base_url": "https://server-control-hub.channelchipdanq.workers.dev",
  "update": {
    "enabled": true,
    "install_automatically": true,
    "repository": "chipdans/server-control",
    "asset_name": "ServerControl-Update.zip"
  }
}
